/* Add here all your css styles (customizations) */
    .preview-panel {
        height: 260px;
        overflow:hidden;
    }
    .less-bottom-margin {
    margin-bottom: 20px;
    }
.map {
	width: 100%; 
	height: 350px;
	border-top: solid 1px #eee;
	border-bottom: solid 1px #eee;
}

.map-box {
	height: 250px;
}

.map-box-space {
	margin-top: 15px;
}

.map-box-space1 {
	margin-top: 7px;
}
.img-responsive-centered {
    margin:0 auto;
}
.team-member {
    margin-top: 80px;
}
.news-v1 p {
    font-size: 12pt;
}
.map-info-window{
    color:black
}
.map-info-window .gm-title{
    font-weight: 500;
}

.map-info-window .gm-website a{
    color:black
}

.map-info-window .gm-phone a{
    color:black
}